/* affects all elements in the html file */
* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
    color: white; /* text color */
}

.topNav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topNav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topNav .search-container{
    float: right;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

input{
    font: 15px system-ui;
    color: #131720;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail {
    height: auto; /* Maintains aspect ratio */
    max-width: 100%;
    border-radius: 19px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}

.review-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent element */
    color: #007BFF; /* Set the color of the link */
    font-weight: bold; /* Makethe textbold */
}

/* Hover effect */
.review-link:hover {
    color: #0056b3; /* Set the color of the link */
    font-weight: bold; /* Makethe textbold */
    text-decoration: underline; /* Add underline to the text */
}

/* Active state */
.review-link:active {
    color: #004085; /* Change the color when the link is clicked */
}

/* Focus state */
.review-link:focus {
    outline: 2px dashed #007BFF; /* Add outline when focused */
    outline-offset: 2px;
}

.review{
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#section {
    display: block;
    margin: 20px 0;
}